<div [@routerTransition]>
  
  
   <sub-header [title]="'Hospitals' | localize" [description]="'HospitalsHeaderInfo' | localize">
             <div role="actions">
                  
                 <button id="btn_create_hospital" *ngIf="isGranted('Pages.Hospitals.Create')" (click)="createHospital()" 
                                        class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewHospital")}}</button>
             </div>
            </sub-header>
    
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                
                                
        	<div class="my-3">                
                <div class="input-group mb-3">
                  <input [(ngModel)]="filterText" (ngModelChange)="getHospitals()" name="filterText" autoFocus type="text" class="form-control" [placeholder]="l('SearchWithThreeDot')">
                  <button class="btn btn-primary" type="submit" (click)="getHospitals()"><i class="flaticon-search-1"></i></button>
                </div>
            </div>
        	
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         
						     </div>



							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="NameFilter">{{l("Name")}}</label>
									<input type="text" class="form-control" id="NameFilter" name="nameFilter" [(ngModel)]="nameFilter" (ngModelChange)="getHospitals()">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="AddressFilter">{{l("Address")}}</label>
									<input type="text" class="form-control" id="AddressFilter" name="addressFilter" [(ngModel)]="addressFilter" (ngModelChange)="getHospitals()">
								</div>
                            </div>


							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="LocationNameFilter">({{l("Location")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="LocationNameFilter" name="locationNameFilter" [(ngModel)]="locationNameFilter">
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="my-3">
									<label class="form-label" for="LocationName2Filter">({{l("Location2")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="LocationName2Filter" name="locationName2Filter" [(ngModel)]="locationName2Filter">
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <button (click)="resetFilters()" class="btn btn-secondary btn-sm" id="btn-reset-filters">Reset</button>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getHospitals($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [tableStyle]="{'min-width': '50rem'}"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Hospitals.Edit', 'Pages.Hospitals.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="countryLocationFk.name">
                                        {{l('Country')}}
                                        <p-sortIcon field="locationName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="stateLocationFk.name">
                                        {{l('State')}}
                                        <p-sortIcon field="locationName2"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="name">
                                        {{l('Name')}}
                                        <p-sortIcon field="hospital.name"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="address">
                                        {{l('Address')}}
                                        <p-sortIcon field="hospital.address"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Hospitals.Edit', 'Pages.Hospitals.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;" class="dropdown-item"
														(click)="viewHospitalModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Hospitals.Edit')" class="dropdown-item"
														(click)="createOrEditHospitalModal.show(record.hospital.id)">{{l('Edit')}}</a>												
                                                </li>
												<li>
											        <a class="dropdown-item" href="javascript:;" *ngIf="permission.isGranted('Pages.Hospitals.Delete')"
														(click)="deleteHospital(record.hospital)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
												<span class="p-column-title"> {{l('Country')}}</span>
												{{record.locationName}}
											</td>
                                    <td style="width:150px">
												<span class="p-column-title"> {{l('State')}}</span>
												{{record.locationName2}}
											</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('Name')}}</span>
											{{record.hospital.name}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('Address')}}</span>
											{{record.hospital.address}}
										</td>

                                </tr>
                               
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getHospitals($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                         [showCurrentPageReport]="true"
                                         [currentPageReportTemplate]="'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount"    
                            >
                            </p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditHospitalModal #createOrEditHospitalModal (modalSave)="getHospitals()"></createOrEditHospitalModal>    
    <viewHospitalModal #viewHospitalModal></viewHospitalModal>
    
  </div>
