<div [@routerTransition]>
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="form-group row">
                <div class="col-xl-10 mb-5">
                    <sub-header [title]="'InsuredPersons' | localize"></sub-header>
                </div>
                <div class="col-xl-2 mb-5 mt-5 text-end">
                    <button (click)="showModal()" class="btn btn-primary blue"
                        style="margin-right: 30px;" [hidden]="isHidden">
                        <i class="fa-solid fa-wand-magic-sparkles fa-xl" style="font-size: 18px;"></i>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <form #caseInsuredPersonForm="ngForm">
                    <div class="form-group row">
                        <div class="col-xl-6 mb-5">
                            <label for="InsuredPerson_Name">{{ l('Name') }}</label>
                            <input
                                type="text"
                                #InsuredPerson_Name
                                id="InsuredPerson_Name"
                                class="form-control"
                                [(ngModel)]="insuredPerson.name"
                                name="Name"
                            />
                            <validation-messages [formCtrl]="InsuredPerson_Name"></validation-messages>
                        </div>

                        <div class="col-xl-2">
                            <label for="InsuredPerson_IdenticationType">{{ l('IdenticationType') }}</label>
                            <select
                                id="InsuredPerson_IdenticationType"
                                #InsuredPerson_IdenticationType
                                name="IdenticationType"
                                class="form-select"
                                [(ngModel)]="insuredPerson.identicationType"
                                required
                            >
                                <option *ngFor="let idType of IDType" [value]="idType.description">
                                    {{ idType.description }}
                                </option>
                            </select>
                            <!-- <input type="text" #InsuredPerson_IdenticationType id="InsuredPerson_IdenticationType"
                                class="form-control" [(ngModel)]="insuredPerson.identicationType" name="IdenticationType" /> -->
                            <validation-messages [formCtrl]="InsuredPerson_IdenticationType"></validation-messages>
                        </div>

                        <div class="col-xl-4">
                            <label for="InsuredPerson_IdenticationNo">{{ l('IdenticationNo') }}</label>
                            <input
                                type="text"
                                #InsuredPerson_IdenticationNo
                                id="InsuredPerson_IdenticationNo"
                                class="form-control"
                                [(ngModel)]="insuredPerson.identicationNo"
                                name="IdenticationNo"
                            />
                            <validation-messages [formCtrl]="InsuredPerson_IdenticationNo"></validation-messages>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xl-6 mb-5">
                            <label for="MainRegistrationVehicleNo">{{ l('VehicleNo') }}</label>
                            <input type="text" name="MainRegistrationVehicleNo" id="InsuredPerson_VehicleNo" #InsuredPerson_VehicleNo [(ngModel)]="mainRegistrationVehicleNo" 
                            class="form-control" disabled>
                        </div>

                        <div class="col-xl-6">
                            <label for="InsuredPerson_PolicyNo">{{ l('PolicyNo') }}</label>
                            <input
                                type="text"
                                #InsuredPerson_PolicyNo
                                id="InsuredPerson_PolicyNo"
                                class="form-control"
                                [(ngModel)]="insuredPerson.policyNo"
                                name="PolicyNo"
                            />
                            <validation-messages [formCtrl]="InsuredPerson_PolicyNo"></validation-messages>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xl-6">
                            <div class="form-group mb-5">
                                <label for="InsuredPerson_Make">{{ l('Make') }}</label>
                                <input
                                type="text"
                                #InsuredPerson_Make
                                id="InsuredPerson_Make"
                                class="form-control"
                                [(ngModel)]="insuredPerson.make"
                                name="Make"
                            />
                                <validation-messages [formCtrl]="InsuredPerson_Make"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_Model">{{ l('Model') }}</label>
                                <input
                                type="text"
                                #InsuredPerson_Model
                                id="InsuredPerson_Model"
                                class="form-control"
                                [(ngModel)]="insuredPerson.model"
                                name="Model"
                            />
                                <validation-messages [formCtrl]="InsuredPerson_Model"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_Specs">{{ l('Specs') }}</label>
                                <input
                                type="text"
                                #InsuredPerson_Specs
                                id="InsuredPerson_Specs"
                                class="form-control"
                                [(ngModel)]="insuredPerson.specs"
                                name="Specs"
                            />
                                <validation-messages [formCtrl]="InsuredPerson_Specs"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_Year">{{ l('Year') }}</label>
                                <input
                                    type="number"
                                    #InsuredPerson_Year
                                    id="InsuredPerson_Year"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.year"
                                    name="Year"
                                />
                                <validation-messages [formCtrl]="InsuredPerson_Year"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_Valuation">{{ l('Valuation') }}</label>
                                <input
                                    type="number"
                                    #InsuredPerson_Valuation
                                    id="InsuredPerson_Valuation"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.valuation"
                                    name="Valuation"
                                    amount
                                />
                                <validation-messages [formCtrl]="InsuredPerson_Valuation"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_ValuationEquiry">{{ l('ValuationEquiry') }}</label>
                                <input
                                    type="number"
                                    #InsuredPerson_ValuationEquiry
                                    id="InsuredPerson_ValuationEquiry"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.valuationEquiry"
                                    name="ValuationEquiry"
                                    amount
                                />
                                <validation-messages [formCtrl]="InsuredPerson_ValuationEquiry"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_JpjRegisterNo">{{ l('JpjRegisterNo') }}</label>
                                <input
                                    type="text"
                                    #InsuredPerson_JpjRegisterNo
                                    id="InsuredPerson_JpjRegisterNo"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.jpjRegisterNo"
                                    name="JpjRegisterNo"
                                />
                                <validation-messages [formCtrl]="InsuredPerson_JpjRegisterNo"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_JpjRegisterDate">{{ l('JpjRegisterDate') }}</label>
                                <input
                                    required
                                    class="form-control m-input"
                                    #InsuredPerson_JpjRegisterDate
                                    type="datetime"
                                    bsDatepicker
                                    datePickerLuxonModifier
                                    [(ngModel)]="jpjRegisterDateString"
                                    id="InsuredPerson_JpjRegisterDate"
                                    name="InsuredPerson_JpjRegisterDate"
                                />
                                <validation-messages [formCtrl]="InsuredPerson_JpjRegisterDate"></validation-messages>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="form-group mb-5">
                                <label for="InsuredPerson_Coverage">{{ l('Coverage') }}</label>
                                <input
                                    type="text"
                                    #InsuredPerson_Coverage
                                    id="InsuredPerson_Coverage"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.coverage"
                                    name="Coverage"
                                />
                                <validation-messages [formCtrl]="InsuredPerson_Coverage"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_Contact">{{ l('Contact') }}</label>
                                <input
                                    type="text"
                                    #InsuredPerson_Contact
                                    id="InsuredPerson_Contact"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.contact"
                                    name="Contact"
                                    onlyNumber
                                />
                                <validation-messages [formCtrl]="InsuredPerson_Contact"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_Nationality">{{ l('Nationality') }}</label>
                                <input
                                    type="text"
                                    #InsuredPerson_Nationality
                                    id="InsuredPerson_Nationality"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.nationality"
                                    name="Nationality"
                                />
                                <validation-messages [formCtrl]="InsuredPerson_Nationality"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_Address">{{ l('Address') }}</label>
                                <textarea
                                    type="text"
                                    #InsuredPerson_Address
                                    id="InsuredPerson_Address"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.address"
                                    name="Address"
                                    aria-label="With textarea"
                                ></textarea>
                                <validation-messages [formCtrl]="InsuredPerson_Address"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_Postcode">{{ l('Postcode') }}</label>
                                <input
                                    type="text"
                                    #InsuredPerson_Postcode
                                    id="InsuredPerson_Postcode"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.postcode"
                                    name="Postcode"
                                />
                                <validation-messages [formCtrl]="InsuredPerson_Postcode"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_City">{{ l('City') }}</label>
                                <input
                                    type="text"
                                    #InsuredPerson_City
                                    id="InsuredPerson_City"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.city"
                                    name="City"
                                />
                                <validation-messages [formCtrl]="InsuredPerson_City"></validation-messages>
                            </div>
                            <div class="form-group mb-5">
                                <label for="LocationName">{{ l('Country') }}</label>
                                <select
                                    name="insuredPerson.countryLocationId"
                                    #InsuredPerson_CountryLocationId
                                    [(ngModel)]="insuredPerson.countryLocationId"
                                    (ngModelChange)="onCountrySelect($event)"
                                    class="form-select"
                                >
                                    <option value="">{{ l('SelectACountry') }}</option>
                                    <option *ngFor="let item of allCountryLocations" value="{{ item.id }}">
                                        {{ item.displayName }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group mb-5">
                                <label for="LocationName2">{{ l('State') }}</label>
                                <select
                                    name="insuredPerson.stateLocationId"
                                    #InsuredPerson_StateLocationId
                                    [(ngModel)]="insuredPerson.stateLocationId"
                                    class="form-select"
                                >
                                    <option value="">{{ l('SelectAState') }}</option>
                                    <option *ngFor="let item of allStateLocations" value="{{ item.id }}">
                                        {{ item.displayName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xl-6">
                            <div class="form-group mb-5">
                                <label for="HospitalName">{{ l('Hospital') }}</label>
                                <select
                                    name="insuredPerson.hospitalId"
                                    #InsuredPerson_HospitalId
                                    [(ngModel)]="insuredPerson.hospitalId"
                                    (ngModelChange)="updateHospitalAddress($event)"
                                    class="form-select"
                                >
                                    <option value="">{{ l('SelectAHospital') }}</option>
                                    <option *ngFor="let item of allHospitals" value="{{ item.id }}">
                                        {{ item.displayName }}
                                    </option>
                                </select>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_HospitalAddress">
                                    {{ l('Hospital') }} {{ l('Address') }}
                                </label>
                                <textarea
                                    type="text"
                                    #InsuredPerson_HospitalAddress
                                    id="InsuredPerson_HospitalAddress"
                                    disabled
                                    class="form-control"
                                    [(ngModel)]="hospitalAddress"
                                    name="hospitalAddress"
                                    aria-label="With textarea"
                                ></textarea>
                                <validation-messages [formCtrl]="InsuredPerson_HospitalAddress"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_Occupation">{{ l('Occupation') }}</label>
                                <input
                                    type="text"
                                    #InsuredPerson_Occupation
                                    id="InsuredPerson_Occupation"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.occupation"
                                    name="Occupation"
                                />
                                <validation-messages [formCtrl]="InsuredPerson_Occupation"></validation-messages>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="form-group mb-5">
                                <label for="InsuredPerson_EmployerName">{{ l('EmployerName') }}</label>
                                <input
                                    type="text"
                                    #InsuredPerson_EmployerName
                                    id="InsuredPerson_EmployerName"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.employerName"
                                    name="EmployerName"
                                />
                                <validation-messages [formCtrl]="InsuredPerson_EmployerName"></validation-messages>
                            </div>
                            <!-- <div class="form-group m-form__group">
                        <label for="LocationName3">{{l("EmployerCountry")}}</label>
                        <select name="insuredPerson.employerCountryId" [(ngModel)]="insuredPerson.employerCountryId"
                            class="form-select">
                            <option value="">{{l("SelectALocation")}}</option>
                            <option *ngFor="let item of allLocations" value="{{item.id}}">{{item.displayName}}</option>
                        </select>
                    </div>
    
                    <div class="form-group m-form__group">
                        <label for="LocationName4">{{l("EmployerState")}}</label>
                        <select name="insuredPerson.employerStateId" [(ngModel)]="insuredPerson.employerStateId"
                            class="form-select">
                            <option value="">{{l("SelectALocation")}}</option>
                            <option *ngFor="let item of allLocations" value="{{item.id}}">{{item.displayName}}</option>
                        </select>
                    </div>
    
    
                    <div class="my-3">
                        <label class="form-label" for="InsuredPerson_EmployerPostcode">{{l("EmployerPostcode")}}</label>
                        <input type="number" #InsuredPerson_EmployerPostcode id="InsuredPerson_EmployerPostcode"
                            class="form-control" [(ngModel)]="insuredPerson.employerPostcode" name="EmployerPostcode" />
                        <validation-messages [formCtrl]="InsuredPerson_EmployerPostcode"></validation-messages>
                    </div>
    
                    <div class="form-group">
                        <label for="InsuredPerson_EmployerCity">{{l("EmployerCity")}}</label>
                        <input type="text" #InsuredPerson_EmployerCity id="InsuredPerson_EmployerCity"
                            class="form-control" [(ngModel)]="insuredPerson.employerCity" name="EmployerCity" />
                        <validation-messages [formCtrl]="InsuredPerson_EmployerCity"></validation-messages>
                    </div> -->

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_EmployerAddress">{{ l('EmployerAddress') }}</label>
                                <textarea
                                    type="text"
                                    #InsuredPerson_EmployerAddress
                                    aria-label="With textarea"
                                    id="InsuredPerson_EmployerAddress"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.employerAddress"
                                    name="EmployerAddress"
                                ></textarea>
                                <validation-messages [formCtrl]="InsuredPerson_EmployerAddress"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_EmployerContact">{{ l('EmployerContact') }}</label>
                                <input
                                    type="text"
                                    #InsuredPerson_EmployerContact
                                    id="InsuredPerson_EmployerContact"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.employerContact"
                                    name="EmployerContact"
                                    onlyNumber
                                />
                                <!-- <validation-messages [formCtrl]="InsuredPerson_EmployerContact"></validation-messages> -->
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xl-6">
                            <div class="form-group mb-5">
                                <label for="InsuredPerson_LicenseClasses">{{ l('LicenseClasses') }}</label>
                                <input
                                    type="text"
                                    #InsuredPerson_LicenseClasses
                                    id="InsuredPerson_LicenseClasses"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.licenseClasses"
                                    name="LicenseClasses"
                                />
                                <validation-messages [formCtrl]="InsuredPerson_LicenseClasses"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_LicenseNo">{{ l('LicenseNo') }}</label>
                                <input
                                    type="text"
                                    #InsuredPerson_LicenseNo
                                    id="InsuredPerson_LicenseNo"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.licenseNo"
                                    name="LicenseNo"
                                />
                                <validation-messages [formCtrl]="InsuredPerson_LicenseNo"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_DrivingExperience">{{ l('DrivingExperience') }}</label>
                                <input
                                    type="text"
                                    #InsuredPerson_DrivingExperience
                                    id="InsuredPerson_DrivingExperience"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.drivingExperience"
                                    name="DrivingExperience"
                                />
                                <validation-messages [formCtrl]="InsuredPerson_DrivingExperience"></validation-messages>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group mb-5">
                                <label for="InsuredPerson_MonthlyIncome">{{ l('MonthlyIncome') }}</label>
                                <input
                                    type="number"
                                    #InsuredPerson_MonthlyIncome
                                    id="InsuredPerson_MonthlyIncome"
                                    class="form-control"
                                    [(ngModel)]="insuredPerson.monthlyIncome"
                                    name="MonthlyIncome"
                                    amount
                                />
                                <validation-messages [formCtrl]="InsuredPerson_MonthlyIncome"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_LicenseDateFrom">{{ l('LicenseDateFrom') }}</label>
                                <input
                                    required
                                    class="form-control m-input"
                                    #InsuredPerson_LicenseDateFrom
                                    type="datetime"
                                    bsDatepicker
                                    datePickerLuxonModifier
                                    [(ngModel)]="licenseFromDateString"
                                    id="InsuredPerson_LicenseDateFrom"
                                    name="InsuredPerson_LicenseDateFrom"
                                />
                                <validation-messages [formCtrl]="InsuredPerson_LicenseDateFrom"></validation-messages>
                            </div>

                            <div class="form-group mb-5">
                                <label for="InsuredPerson_LicenseDateTo">{{ l('LicenseDateTo') }}</label>
                                <input
                                    required
                                    class="form-control m-input"
                                    #InsuredPerson_LicenseDateTo
                                    type="datetime"
                                    bsDatepicker
                                    datePickerLuxonModifier
                                    [(ngModel)]="licenseToDateString"
                                    id="InsuredPerson_LicenseDateTo"
                                    name="InsuredPerson_LicenseDateTo"
                                />
                                <validation-messages [formCtrl]="InsuredPerson_LicenseDateTo"></validation-messages>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="col-lg-12" style="text-align: right">
                    <a [routerLink]="[navigationService.step1Url]" [queryParams]="{ id: registerId, stepId: 1 }"
                        class="btn btn-primary green float-right">
                        <i class="fa fa-arrow-left"></i>
                        <span>{{ l('Back') }}</span>
                    </a>

                    <button (click)="save()" class="btn btn-primary blue float-right" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')" [hidden]="isHidden">
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>

                    <a [routerLink]="[navigationService.step3Url]" [queryParams]="{ id: registerId, stepId: 3 }"
                        class="btn btn-primary green float-right">
                        <i class="fa fa-arrow-right"></i>
                        <span>{{ l('Next') }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" bsModal #fileUploadModal="bs-modal" tabindex="-1" role="dialog"
        aria-labelledby="fileUploadModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileUploadModalLabel">Upload File</h5>
                    <button type="button" class="btn-close" (click)="close()"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="my-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="custom-file-label" #InsuredPerson_DriverICFrontLabel
                                        for="InsuredPerson_DriverICFront">
                                        {{ l('NRICFrontFile') }} {{ l('Upload') }}
                                    </label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text w-100" id="inputGroupFileAddon01" style="margin-right: 20px;">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                    id="InsuredPerson_DriverICFront" #InsuredPerson_DriverICFront
                                                    [(ngModel)]="InsuredPerson_DriverICFront"
                                                    name="InsuredPerson_DriverICFront"
                                                    aria-describedby="inputGroupFileAddon01"
                                                    (change)="onSelectDriverICFrontFile($event)"
                                                    [accept]="driverICFrontFileAcceptedTypes" />
    
                                            </div>
                                            <div *ngIf="driverICFrontFileName || driverICFrontFileUploaded">
                                                <i class="fa fa-check-circle text-success" style="font-size: 15px;"></i>
                                            </div>
                                        </span>
                                    </div>
    
                                    <div *ngIf="driverICFrontFileName" style="background-color: #e5e5e5; margin-right: 20px;" >
                                        <div class="alert alert-custom alert-white alert-bold " role="alert">
    
                                            <span class="font-weight-bold">{{ 'CurrentFile' | localize }} :</span>
                                            <a href="{{ getDownloadUrl(insuredPerson.driverICFront) }}" target="_blank">
                                                {{ driverICFrontFileName }}
                                            </a>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true" (click)="removeDriverICFrontFile()">
                                                    <i class="la la-close fa-1x"></i>
                                                </span>
                                            </button>
    
    
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-md-6">
                                    <label class="custom-file-label" #InsuredPerson_DriverLicenseFrontLabel
                                        for="InsuredPerson_DriverLicenseFront">
                                        {{ l('LicenseFrontFile') }} {{ l('Upload') }}
                                    </label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text w-100" id="inputGroupFileAddon01" style="margin-right: 20px;">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                    id="InsuredPerson_DriverLicenseFront" #InsuredPerson_DriverLicenseFront
                                                    [(ngModel)]="InsuredPerson_DriverLicenseFront"
                                                    name="InsuredPerson_DriverLicenseFront"
                                                    aria-describedby="inputGroupFileAddon01"
                                                    (change)="onSelectDriverLicenseFrontFile($event)"
                                                    [accept]="driverLicenseFrontFileAcceptedTypes" />
    
                                            </div>
                                            <div *ngIf="driverLicenseFrontFileName || driverLicenseFrontUploaded">
                                                <i class="fa fa-check-circle text-success" style="font-size: 15px;"></i>
                                            </div>
                                        </span>
                                    </div>
    
                                    <div *ngIf="driverLicenseFrontFileName" style="background-color: #e5e5e5; margin-right: 20px;">
    
                                        <div class="alert alert-custom alert-white alert-bold m-1" role="alert">
                                            <span class="font-weight-bold">{{ 'CurrentFile' | localize }} :</span>
    
                                            <a href="{{ getDownloadUrl(insuredPerson.driverLicenseFront) }}"
                                                target="_blank">
                                                {{ driverLicenseFrontFileName }}
                                            </a>
    
    
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true" (click)="removeDriverLicenseFrontFile()">
                                                    <i class="la la-close fa-1x"></i>
                                                </span>
                                            </button>
    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="custom-file-label" #InsuredPerson_DriverICBackLabel
                                        for="InsuredPerson_DriverICBack">
                                        {{ l('NRICBackFile') }} {{ l('Upload') }}
                                    </label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text w-100" id="inputGroupFileAddon01" style="margin-right: 20px;">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="InsuredPerson_DriverICBack"
                                                    #InsuredPerson_DriverICBack [(ngModel)]="InsuredPerson_DriverICBack"
                                                    name="InsuredPerson_DriverICBack"
                                                    aria-describedby="inputGroupFileAddon01"
                                                    (change)="onSelectDriverICBackFile($event)"
                                                    [accept]="driverICBackFileAcceptedTypes" />
    
                                            </div>
                                            <div *ngIf="driverICBackFileName || driverICBackFileUploaded ">
                                                <i class="fa fa-check-circle text-success" style="font-size: 15px;"></i>
                                            </div>
                                        </span>
                                    </div>
    
                                    <div *ngIf="driverICBackFileName" style="background-color: #e5e5e5; margin-right: 20px;" >
                                        <div class="alert alert-custom alert-white alert-bold m-1" role="alert">
                                            <span class="font-weight-bold">{{ 'CurrentFile' | localize }} :</span>
    
                                            <a href="{{ getDownloadUrl(insuredPerson.driverICBack) }}" target="_blank">
                                                {{ driverICBackFileName }}
                                            </a>
    
    
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true" (click)="removeDriverICBackFile()">
                                                    <i class="la la-close fa-1x"></i>
                                                </span>
                                            </button>
    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="custom-file-label" #InsuredPerson_DriverLicenseBackLabel
                                        for="InsuredPerson_DriverLicenseBack">
                                        {{ l('LicenseBackFile') }} {{ l('Upload') }}
                                    </label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text w-100" id="inputGroupFileAddon01" style="margin-right: 20px;">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                    id="InsuredPerson_DriverLicenseBack" #InsuredPerson_DriverLicenseBack
                                                    [(ngModel)]="InsuredPerson_DriverLicenseBack"
                                                    name="InsuredPerson_DriverLicenseBack"
                                                    aria-describedby="inputGroupFileAddon01"
                                                    (change)="onSelectDriverLicenseBackFile($event)"
                                                    [accept]="driverLicenseBackFileAcceptedTypes" />
    
                                            </div>
                                            <div *ngIf="driverLicenseBackFileName || driverLicenseBackFileUploaded ">
                                                <i class="fa fa-check-circle text-success" style="font-size: 15px;"></i>
                                            </div>
                                        </span>
                                    </div>
    
                                    <div *ngIf="driverLicenseBackFileName" style="background-color: #e5e5e5; margin-right: 20px;">
                                        <div class="alert alert-custom alert-white alert-bold m-1" role="alert">
                                            <span class="font-weight-bold">{{ 'CurrentFile' | localize }} :</span>
    
    
                                            <a href="{{ getDownloadUrl(insuredPerson.driverLicenseBack) }}" target="_blank">
                                                {{ driverLicenseBackFileName }}
                                            </a>
    
    
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true" (click)="removeDriverLicenseBackFile()">
                                                    <i class="la la-close fa-1x"></i>
                                                </span>
                                            </button>
    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="custom-file-label" #InsuredPerson_DriverCarGrantLabel
                                        for="InsuredPerson_DriverCarGrant">
                                        {{ l('CarGrantFile') }} {{ l('Upload') }}
                                    </label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text w-100" id="inputGroupFileAddon01" style="margin-right: 20px;">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                    id="InsuredPerson_DriverCarGrant" #InsuredPerson_DriverCarGrant
                                                    [(ngModel)]="InsuredPerson_DriverCarGrant"
                                                    name="InsuredPerson_DriverCarGrant"
                                                    aria-describedby="inputGroupFileAddon01"
                                                    (change)="onSelectDriverCarGrantFile($event)"
                                                    [accept]="driverCarGrantFileAcceptedTypes" />
                                            </div>
                                            <div *ngIf="driverCarGrantFileName || driverCarGrantFileUploaded ">
                                                <i class="fa fa-check-circle text-success" style="font-size: 15px;"></i>
                                            </div>
                                        </span>
                                    </div>
    
                                    <div *ngIf="driverCarGrantFileName" style="background-color: #e5e5e5; margin-right: 20px;">
                                        <div class="alert alert-custom alert-white alert-bold m-1" role="alert">
                                            <span class="font-weight-bold">{{ 'CurrentFile' | localize }} :</span>
    
    
                                            <a href="{{ getDownloadUrl(insuredPerson.driverCarGrant) }}" target="_blank">
                                                {{ driverCarGrantFileName }}
                                            </a>
    
    
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true" (click)="removeDriverCarGrantFile()">
                                                    <i class="la la-close fa-1x"></i>
                                                </span>
                                            </button>
    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="custom-file-label" #InsuredPerson_DriverHospitalDetailLabel
                                        for="InsuredPerson_DriverHospitalDetail">
                                        {{ l('HospitalDetailFile') }} {{ l('Upload') }}
                                    </label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text w-100" id="inputGroupFileAddon01" style="margin-right: 20px;">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                    id="InsuredPerson_DriverHospitalDetail"
                                                    #InsuredPerson_DriverHospitalDetail
                                                    [(ngModel)]="InsuredPerson_DriverHospitalDetail"
                                                    name="InsuredPerson_DriverHospitalDetail"
                                                    aria-describedby="inputGroupFileAddon01"
                                                    (change)="onSelectDriverHospitalDetailFile($event)"
                                                    [accept]="driverHospitalDetailFileAcceptedTypes" />
    
                                            </div>
                                            <div *ngIf="driverHospitalDetailFileName || driverHospitalDetailFileUploaded ">
                                                <i class="fa fa-check-circle text-success" style="font-size: 15px;"></i>
                                            </div>
                                        </span>
                                    </div>
    
                                    <div *ngIf="driverHospitalDetailFileName" style="background-color: #e5e5e5; margin-right: 20px;">
                                        <div class="alert alert-custom alert-white alert-bold m-1" role="alert">
                                            <span class="font-weight-bold">{{ 'CurrentFile' | localize }} :</span>
    
    
                                            <a href="{{ getDownloadUrl(insuredPerson.driverHospitalDetail) }}"
                                                target="_blank">
                                                {{ driverHospitalDetailFileName }}
                                            </a>
    
    
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true" (click)="removeDriverHospitalDetailFile()">
                                                    <i class="la la-close fa-1x"></i>
                                                </span>
                                            </button>
    
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-md-6">
                                    <label class="custom-file-label" #InsuredPerson_DriverEmploymentDetailLabel
                                        for="InsuredPerson_DriverEmploymentDetail">
                                        {{ l('EmploymentDetailFile') }} {{ l('Upload') }}
                                    </label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text w-100" id="inputGroupFileAddon01" style="margin-right: 20px;">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                    id="InsuredPerson_DriverEmploymentDetail"
                                                    name="InsuredPerson_DriverEmploymentDetail"
                                                    aria-describedby="inputGroupFileAddon01"
                                                    (change)="onSelectDriverEmploymentDetailFile($event)"
                                                    [accept]="driverEmploymentDetailFileAcceptedTypes" />
    
                                            </div>
                                            <div *ngIf="driverEmploymentDetailFileName || driverEmploymentDetailFileuploaded ">
                                                <i class="fa fa-check-circle text-success" style="font-size: 15px;"></i>
                                            </div>
                                        </span>
                                    </div>
    
                                    <div *ngIf="driverEmploymentDetailFileName" style="background-color: #e5e5e5; margin-right: 20px;">
                                        <div class="alert alert-custom alert-white alert-bold m-1" role="alert">
                                            <span class="font-weight-bold">{{ 'CurrentFile' | localize }} :</span>
                                            <a href="{{ getDownloadUrl(insuredPerson.driverEmploymentDetail) }}"
                                                target="_blank">
                                                {{ driverEmploymentDetailFileName }}
                                            </a>
    
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true" (click)="removeDriverEmploymentDetailFile()">
                                                    <i class="la la-close fa-1x"></i>
                                                </span>
                                            </button>
    
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="alert alert-warning" role="alert">
                                <h5 class="alert-heading">
                                    <b>NOTE:</b>
                                    {{ l('OCRDisclaimer') }}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-primary" (click)="uploadFile()">Upload</button> -->
                    <button type="button" class="btn btn-light-primary fw-bold" (click)="close()">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>
