    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <sub-header [title]="'InsuredPersons' | localize"></sub-header>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Name') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.name }}</span>
                    </div>
                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Identification Type') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.identicationType }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Identification No') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.identicationNo }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Vehicle Number') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ mainRegistrationVehicleNo }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Policy No') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.policyNo }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Make') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.make }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Coverage') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.coverage }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Model') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.model }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Nationality') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.nationality }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Year') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.year }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Address') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.address }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Valuation') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.valuation }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Postcode') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.postcode }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Valuation Enquiry') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.valuationEquiry }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('City') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.city }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('JPJ Register No') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.jpjRegisterNo }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Country') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.countryLocationId }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('JPJ Register Date') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.jpjRegisterDate }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('State') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.stateLocationId }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Hospital') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ hospitalName }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Employer Name') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.employerName }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Hospital Address') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ hospitalAddress }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Employer Address') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.employerAddress }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Occupation') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.occupation }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Employer Contact') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.employerContact }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('License Classes') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.licenseClasses }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Monthly Income') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.monthlyIncome }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('License No') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.licenseNo }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('License Date From') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.licenseDateFrom }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Driving Experience') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.drivingExperience }}</span>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('License Date To') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <span>{{ insuredPerson.licenseDateTo }}</span>
                    </div>
                </div>
            </div>
            <hr />

            <sub-header [title]="'Attachments' | localize"></sub-header>
            <div class="card-body">
                <div class="row">
                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('IC Front') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <a href="{{ getDownloadUrl(insuredPerson.driverICFront) }}" target="_blank">
                            {{ insuredPerson.driverICFrontFileName }}
                        </a>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('IC Back') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <a href="{{ getDownloadUrl(insuredPerson.driverICBack) }}" target="_blank">
                            {{ insuredPerson.driverICBackFileName }}
                        </a>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('License Front') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <a href="{{ getDownloadUrl(insuredPerson.driverLicenseFront) }}" target="_blank">
                            {{ insuredPerson.driverLicenseFrontFileName }}
                        </a>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('License Back') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <a href="{{ getDownloadUrl(insuredPerson.driverLicenseBack) }}" target="_blank">
                            {{ insuredPerson.driverLicenseBackFileName }}
                        </a>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Employment Detail') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <a href="{{ getDownloadUrl(insuredPerson.driverEmploymentDetail) }}" target="_blank">
                            {{ insuredPerson.driverEmploymentDetailFileName }}
                        </a>
                    </div>

                    <div class="col-3 mb-3">
                        <h6 class="font-weight-bold">{{ l('Hospital') }} :</h6>
                    </div>
                    <div class="col-3 mb-3">
                        <a href="{{ getDownloadUrl(insuredPerson.driverHospitalDetail) }}" target="_blank">
                            {{ insuredPerson.driverHospitalDetailFileName }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="col-lg-12" style="text-align: right">
                    <a
                        [routerLink]="[navigationService.step1Url]"
                        [queryParams]="{ id: registerId, stepId: 1 }"
                        class="btn btn-primary green float-right"
                    >
                        <i class="fa fa-arrow-left"></i>
                        <span>{{ l('Back') }}</span>
                    </a>

                    <a
                        [routerLink]="[navigationService.step3Url]"
                        [queryParams]="{ id: registerId, stepId: 3 }"
                        class="btn btn-primary green float-right"
                    >
                        <i class="fa fa-arrow-right"></i>
                        <span>{{ l('Next') }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

<style>
    .view-field {
        margin-bottom: 2em;
    }
</style>
