<div [@routerTransition]>
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <sub-header [title]="'INSURER' | localize"></sub-header>

            <div class="card-body">
                <form #caseInsurerForm="ngForm">
                    <div class="form-group row">
                        <div class="col-xl-6 mb-5">
                            <label for="CompanyName">{{ l('Company') }}</label>
                            <select
                                name="caseInsurer.companyId"
                                [(ngModel)]="caseInsurer.companyId"
                                class="form-select"
                                disabled
                            >
                                <option value="" disabled>{{ l('SelectACompany') }}</option>
                                <option *ngFor="let item of allCompanys" value="{{ item.id }}">
                                    {{ item.displayName }}
                                </option>
                            </select>
                        </div>

                        <div class="col-xl-6">
                            <label for="CaseInsurer_ReferenceNo">{{ l('ReferenceNo') }}</label>
                            <input
                                type="text"
                                #CaseInsurer_ReferenceNo="ngModel"
                                id="CaseInsurer_ReferenceNo"
                                class="form-control"
                                [(ngModel)]="caseInsurer.referenceNo"
                                name="ReferenceNo"
                            />
                            <validation-messages [formCtrl]="CaseInsurer_ReferenceNo"></validation-messages>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xl-6 mb-5">
                            <label for="CaseInsurer_Name">{{ l('ContactName') }}</label>
                            <input
                                type="text"
                                #CaseInsurer_Name="ngModel"
                                id="CaseInsurer_Name"
                                class="form-control"
                                [(ngModel)]="caseInsurer.name"
                                name="Name"
                            />
                            <validation-messages [formCtrl]="CaseInsurer_Name"></validation-messages>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xl-6 mb-5">
                            <label for="CaseInsurer_Email">Contact Email</label>
                            <input
                                type="text"
                                #CaseInsurer_Email="ngModel"
                                id="CaseInsurer_Email"
                                class="form-control"
                                [(ngModel)]="caseInsurer.email"
                                name="Email"
                            />
                            <validation-messages [formCtrl]="CaseInsurer_Email"></validation-messages>
                        </div>
                        <div class="col-xl-6">
                            <label for="CaseInsurer_Contact">{{ l('ContactNo') }}</label>
                            <input
                                type="text"
                                #CaseInsurer_Contact="ngModel"
                                id="CaseInsurer_Contact"
                                class="form-control"
                                [(ngModel)]="caseInsurer.contact"
                                name="Contact"
                                onlyNumber
                            />
                            <validation-messages [formCtrl]="CaseInsurer_Contact"></validation-messages>
                        </div>
                    </div>
                </form>
            </div>

            <!-- <div class="card-footer">
				<div class="col-lg-12" style="text-align: right;">
					<button (click)="save()" class="btn btn-primary blue float-right" [buttonBusy]="saving"
						[busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
						<span>{{l("Save")}}</span>
					</button>
					<button (click)="next()" class="btn btn-primary green float-right"><i
							class=" fa fa-arrow-right"></i>
						<span>{{l("Next")}}</span>
					</button>
					<button *ngIf="!this.caseInsurer.id" (click)="saveAndNew()" class="btn btn-primary blue float-right"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> 
                        <span>{{l("SaveAndNew")}}</span>
                    </button>
				</div>
			</div>
		</div> -->
        </div>
    </div>
</div>
